
  @font-face {
    font-family:"helvetica-bold";
    src: url(../fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family:"vermin";
    src: url(../fonts/vermin_vibes_slant.ttf)
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #c0dff3; 
}
::-webkit-scrollbar-thumb {
  background: #c0dff3; 
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;}

::-webkit-scrollbar-track:hover{
background: #555;
}


*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

a:visited{
  text-decoration: none;
}

*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}


:root{
--primary-color: #c0dff3;
--secondary-color: #F3d4c0;
--primary-secondary-color: #cde3ee;
--secondary-primary-color: #fffcf2;
--tertiary-color: #Fcf3d9;
--white-color: #FFFDFA;
--black-color: #000000;
--grey-color: #Dcddd8;
--blue-color: #0f72e5;
--mint-color: #99edc3;
--dark-grey-color:#444444;
--light-grey-color:#e3e3e3;
} //sortering av färger så det ska vara enkelt att byta färger, samt komma ihåg vad dem har för Hex koder//



nav{
background: var(--primary-color);
height: 100px;
width: 100%;

}

label.logo{
line-height: 120px;
padding: 0 30px;
img{
  width: 20rem;
}



}  

.logo:hover{
opacity: 0.7;
transition: .7s;
background-color: var(--primary-color);

}

nav .dropmenu{
float: right;
margin-right: 15px;
}
nav .dropmenu li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav .dropmenu li a{
color: var(--black-color);
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
font-family:'helvetica-bold';
font-weight: 700;

 
}

.kategorier:hover{
  background: none;
  
  opacity: .8;
}





.checkbtn{
font-size: 30px;
color: var(--black-color);
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}


@media (max-width: 1090px){
label.logo{

  padding-left: 30px;
  line-height: 120px;
 
}
nav .dropmenu li a{
  font-size: 16px;

}
}
@media (max-width: 1132px){
.checkbtn{
  display: block; //hamburgarmenyn aktiveras när skärmstorleken går under en bredd på 1123px//
}
.dropmenu{
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  top: 80px;
  left: -100%;
  text-align: left;
  transition: all .5s;
  overflow-y: auto;
  z-index: 102;


  
}
nav .dropmenu li{
  display: block;
  margin: 50px 0;
  line-height: 40px;
  border-bottom: 2px solid var(--white-color);
  
}
nav .dropmenu li a{
  font-size: 20px;

}
.kategorier:hover,.kategorier:active{
  background: none;
  color: var(--dark-grey-color);
  opacity: .8;
}
#check:checked ~ ul{
  left: 0;
}
.bottomnav{
  position: relative;
}
}
 
@media (max-width: 1090px){
  label.logo{
  
    padding-left: 30px;
    line-height: 110px;
   
  }

  img{
    width: 18rem;
  }
  nav ul li a{
    font-size: 16px;
  
  }
  }


@media (max-width:458px) {
  label.logo{
    line-height: 86px;
    padding: 15px;
  
    img{
      width: 13rem;  
      
    }
  }
  }


@media (max-width:390px) {
label.logo{
line-height: 85px;
img{
  width: 12.5rem;
  margin-right: 20px;
}

}}

@media (max-width:343px) {
label.logo{
line-height: 82px;
img{
  width: 10.5rem;
  margin-right: 10px;
}

}}




@media (max-width:290px) {
  label.logo{
    line-height: 82px;
    img{
      width: 10rem;
    }
  }
}


.container{
overflow-x: auto;
}
.container::-webkit-scrollbar{
display: none;  //gömmer skrollbaren men gör så att den fortfarande går att skrolla//
}


.bottomnav{
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-secondary-color);
  z-index:0;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  

.icons{
  display: flex;
  align-items: center;
  margin-right: 100px;
  font-size: 2rem;
  margin: 0 .1rem;
  cursor: pointer;
 
   
   }
   .fa-regular,.bag {
     margin: 0 1rem;
     color: var(--black-color);
     text-decoration: none !important;
   }
   .fa-user{
   margin-bottom: 2px;
 
 }
 .bag{
   margin-top: 0.3rem;
 }
 }

 .bag{
  .bag-badge{
    position: absolute;
  }
 }
 
 @media(max-width:500px){
  .bottomnav{
    .icons{
     
      margin: 0 0.02rem;
    }

  }
}

.fa-regular:hover,.bag:hover {
  opacity: 0.7;
}
 



.input-wrapper {
display: flex;
align-items: center;
justify-content: space-between;
background: var(--primary-secondary-color);
padding: 2rem;
border-radius: 0.5rem;
color: var(--black-color);
font-size: 1.3rem;
width: 60%;

}

input {
margin: 0 0.5rem 0 0.5rem;
width: 100%;
border: none;
outline: none;
background-color: var(--white-color);
color: var(--black-color);
padding: 0.5rem;

}
::placeholder {
color: var(--dark-grey-color)
}


input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none;
display: inline-block;
width: 14px;
height: 14px;
margin-left: 10px;
background:
linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#000 45%,#000 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
linear-gradient(135deg, transparent 0%,transparent 43%,#000 45%,#000 55%,transparent 57%,transparent 100%);
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}


.produkt-sida{
  font-family: "poppins";
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.produkt-detaljer{
  max-width: 1200px;
  width:90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  min-height: 100vh;

}

.produkt-img{
  background-color: var(--light-grey-color);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mySwiper{
  width:100%;
  height:100%;
  max-width: 100%;
}


.slider-btns{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}



.swiper-button-next, .swiper-button-prev{
  position: static !important; //överskrider alla styles för denna klass
  width: 80px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.swiper-button-next::after, .swiper-button-prev::after{
  color:var(--black-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 0.7;
}


.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.produkt-text{
  background-color: var(--white-color);
  padding: 60px;
  position: relative;
}

.produkt-text .produkt-kategori{
  color: #5e5e5e;
  font-size: 0.9rem;
}

.produkt-text h1{
  color: #252525;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0px -2px;
}

.produkt-text h2{
  color: #252525;
  font-size: 2.4rem;
  font-weight: 700;
  margin: -5px -2px;
}


.produkt-text .produkt-pris{
  font-size: 1.4rem;
  color: #252525;
  font-weight: 600;

}

.produkt-text p{
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #5e5e5e;
  margin: 30px 0px;
 
}

.produkt-storlek-container strong{ 
  color: #252525;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 1px solid #252525;
}
.produkt-storlek{
display: flex;
justify-content: baseline;
align-items: center;
flex-wrap: inherit;
margin-top: 20px;
}

.produkt-storlek label{
  font-size: 1.1rem;
  background-color: #f7f7f7;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}

.s-checkbox:checked + .xs-label{
  background-color: #1f2124;
  color: var(--white-color);


}
.s-checkbox{
  display: none;
}

.xs-label:hover{
  transform: scale(1.2) perspective(1px);
  
}



.produkt-knappar{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin: 30px 0px;
  grid-gap: 20px;
}

.produkt-knappar div{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
}

.produkt-knappar .added{
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
}

.produkt-knappar .add-önsk-btn{
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;

}

.added:hover{
  background-color: var(--primary-color);
  color: var(--black-color);

  transition: 0.5s;
}

 .add-önsk-btn:hover{
  background-color: var(--primary-color);
  color: var(--black-color);
  transition: 0.5s;
}

.hjälp-btn{
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: var(--black-color);
  font-size: 0.9rem;
  text-decoration: underline;
  text-transform: lowercase;
}

.hjälp-btn:hover{
background-color:var(--white-color);
}

@media(max-width:1024px){
  .produkt-text{
    padding: 30px;
  }

}

@media(max-width:940px){
  .produkt-detaljer{
  grid-template-columns: 1fr;
  }
  
  .mySwiper{
    max-height: 400px;

  }
  .produkt-knappar{
    margin-bottom: 40px;
  }
}

@media(max-width:450px){
  .produkt-text h1{
    font-size: 1.3rem;
  }
  .produkt-knappar{
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  margin:auto;
  margin-left: 10%;
  text-align: 20%;
  border: none;
  outline: none;
  transition: 0.4s;
}

//bakgrundsfärg på klick eller hover på knappen//
.accordion {
  background-color: #f9f9f9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ddd;
}

.panel {
  padding-right:  250px;
  display: none;
  background-color: white;
  overflow: hidden;
  background-color: #f9f9f9;
  width: 80%;
  margin-left:191px ;

}

.accordion:after {
  content: "\02795"; 
  font-size: 10px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; //Unicode karaktärer för att visa ifall man öppnar eller stänger rutan//
}

.panel{
  p{
  margin-left: 15px;
}}

.panel {
  h3{
    margin-left: 15px;
  }
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 95%;
  left: 130%;
  margin-left: -80px;
}

/* Popup arrow */
.added .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Denna klass togglas när användaren trycker på knappen (visar / gömmer popup) */
.added .show {
  visibility: visible;
  -webkit-animation: fadeIn ease 1.5s;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeOut ease 1s;
  animation: fadeOut ease 2s;
  
}



/* Fade in animation för animation för kundvagn*/

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}

}



.hidden{
display: none;
}


.foot-container{
  max-width: 1170px;
  margin: auto;
  
}

.row{
  display: flex;
  flex-wrap:wrap ;
}

.footer{
background-color:#24262b;
padding: 70px 0;
font-family: "poppins", sans-serif;
text-transform: capitalize;
margin-top: 300px;

  
}

.footer:active{
  color: #000;
}

.footer-col{
width: 25%;
padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom:35px;
  font-family: "poppins",sans-serif;
  font-weight: 600;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color:var(--primary-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
  
}
.footer-col .ulfoot .lifoot a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 450;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  font-family: "poppins", sans-serif;
}

.footer-col .ulfoot .lifoot{
  a:hover{
color: #ffffff;
padding-left: 10px;
  }
  
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  transition: 0.5s all ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width:767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    
   
  }
}