@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@600;700&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");
@font-face {
  font-family: "helvetica-bold";
  src: url(../fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: "vermin";
  src: url(../fonts/vermin_vibes_slant.ttf);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c0dff3;
}

::-webkit-scrollbar-thumb {
  background: #c0dff3;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: #c0dff3;
  --secondary-color: #F3d4c0;
  --primary-secondary-color: #cde3ee;
  --secondary-primary-color: #fffcf2;
  --tertiary-color: #Fcf3d9;
  --white-color: #FFFDFA;
  --black-color: #000000;
  --grey-color: #Dcddd8;
  --blue-color: #0f72e5;
  --mint-color: #99edc3;
  --dark-grey-color:#444444;
  --light-grey-color:#e3e3e3;
  --white-light: #ffffff80;
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
}

nav {
  background: var(--primary-color);
  height: 80px;
  width: 100%;
}

.kategorier:hover {
  opacity: 0.7;
}

label.logo {
  line-height: 120px;
  padding: 0 30px;
}

label.logo img {
  width: 20rem;
}

.logo:hover {
  opacity: 0.7;
  -webkit-transition: .7s;
  transition: .7s;
  background-color: var(--primary-color);
}

@media (max-width: 1090px) {
  label.logo {
    padding-left: 30px;
    line-height: 110px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 458px) {
  label.logo {
    line-height: 98px;
    padding: 15px;
  }
  label.logo img {
    width: 15rem;
  }
}

@media (max-width: 340px) {
  label.logo {
    line-height: 100px;
  }
  label.logo img {
    width: 13rem;
  }
}

@media (max-width: 290px) {
  label.logo {
    line-height: 95px;
  }
  label.logo img {
    width: 10rem;
  }
}

nav .dropmenu {
  float: right;
  margin-right: 15px;
}

nav .dropmenu li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav .dropmenu li a {
  color: var(--black-color);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: 'helvetica';
  font-weight: 700;
}

a:active, a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  color: var(--dark-grey-color);
}

.checkbtn {
  font-size: 30px;
  color: var(--black-color);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.fa-solid:hover {
  opacity: 0.7;
}

@media (max-width: 1090px) {
  label.logo {
    font-size: 30px;
    padding-left: 40px;
  }
  nav .dropmenu li a {
    font-size: 16px;
  }
}

@media (max-width: 1132px) {
  .checkbtn {
    display: block;
  }
  .dropmenu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    top: 80px;
    left: -100%;
    text-align: left;
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow-y: auto;
    z-index: 4;
  }
  nav .dropmenu li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
    border-bottom: 2px solid var(--white-color);
  }
  nav .dropmenu li a {
    font-size: 20px;
  }
  .kategorier:hover, .kategorier:active {
    background: none;
    color: var(--dark-grey-color);
    opacity: .8;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .bottomnav {
    position: relative;
  }
}

@media (max-width: 282px) {
  .checkbtn {
    font-size: 20px;
    margin-right: 20px;
  }
}

.container {
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.bottomnav {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-secondary-color);
  z-index: 0;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.bottomnav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
  font-size: 2rem;
  margin: 0 .1rem;
  cursor: pointer;
}

.bottomnav .fa-regular, .bottomnav .bag {
  margin: 0 1rem;
  color: var(--black-color);
  text-decoration: none !important;
}

.bottomnav .fa-user {
  margin-bottom: 2px;
}

.bottomnav .bag {
  margin-top: 0.3rem;
}

@media (max-width: 500px) {
  .bottomnav .icons {
    margin: 0 0.02rem;
  }
}

.fa-regular:hover, .bag:hover {
  opacity: 0.7;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--primary-secondary-color);
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--black-color);
  font-size: 1.3rem;
  width: 50%;
}

@media (max-width: 800px) {
  .input-wrapper {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .input-wrapper {
    width: 100%;
  }
}

input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 0.5rem;
  position: relatives;
}

::-webkit-input-placeholder {
  color: var(--dark-grey-color);
}

:-ms-input-placeholder {
  color: var(--dark-grey-color);
}

::-ms-input-placeholder {
  color: var(--dark-grey-color);
}

::placeholder {
  color: var(--dark-grey-color);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #000 45%, #000 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #000 45%, #000 55%, transparent 57%, transparent 100%);
}

body {
  font-family: 'Quicksand', sans-serif;
}

.products img {
  width: 100%;
  display: block;
}

.container {
  width: 99vw;
  margin: 0 auto;
  margin-top: 70PX;
}

.lg-title,
.md-title,
.sm-title {
  font-family: 'Roboto', sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}

.product-title {
  color: black;
}

.product-title:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.md-title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

.products {
  background-color: var(--alice-blue);
  padding: 3.2rem 0;
}

.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}

.product {
  margin: 2rem;
  position: relative;
}

.product-content {
  background-color: var(--light-grey-color);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.product-img {
  background: var(--white-color);
  -webkit-box-shadow: 0 0 20px 10px var(--white-light);
          box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.product-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.btn-cart, .btn-save {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn-cart {
  background: black;
  color: white;
}

.btn-cart:hover {
  background: var(--primary-color);
}

.btn-save {
  background: white;
}

.btn-save:hover {
  background: var(--primary-color);
  color: #fff;
}

.product-info {
  background: white;
  padding: 2rem;
}

.product-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating span {
  color: var(--primary-color);
}

.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  padding-top: 0.6rem;
  padding-right: .6rem;
  display: inline-block;
}

.product-price:first-of-type {
  text-decoration: line-through;
  color: var(--black-color);
  opacity: 0.7;
}

.product-img img {
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.product:hover .product-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product:hover .product-img {
  background: var(--primary-color);
}

.product:hover .product-btns {
  opacity: 1;
}

.off-info .sm-title {
  background-color: var(--primary-color);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 3;
  letter-spacing: 3px;
  cursor: pointer;
}

.product-collection {
  padding: 3.2rem 0;
}

.product-collection-wrapper {
  padding: 3.2rem 0;
}

.product-col-left {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("/assets/GQB_Fragrance_Digital_16x9.webp") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("/assets/GQB_Fragrance_Digital_16x9.webp") center/cover no-repeat;
}

.product-col-r-top {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("/assets/Brown and Beige Minimalist Fashion Banner.png") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("/assets/Brown and Beige Minimalist Fashion Banner.png") center/cover no-repeat;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin-top: 5px;
}

.product-col-r-bottom > div:first-child {
  background: var(--secondary-color);
}

.product-col-r-bottom > div:last-child {
  background: var(--primary-color);
}

.product-col-content {
  text-align: center;
  color: white;
}

.product-collection .text-light {
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}

.lg-title,
.md-title,
.sm-title {
  font-family: 'Roboto', sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}

.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.md-title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
  color: white;
}

.nyhetstext {
  color: black;
}

.btn-dark {
  background: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}

.btn-dark:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

@media screen and (min-width: 992px) {
  .product-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .product-items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .products .text-light {
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .flex {
    height: 60vh;
  }
  .product-col-left {
    height: 121.5vh;
  }
}

.footer * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.foot-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--primary-color);
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/*# sourceMappingURL=nike.css.map */